<div class="home-container">
    <div class="steps-wrapper">
        <div class="steps-header">
            <strong class="steps-text-header">Food Ordering in just a few easy steps using our mobile app now
                available on Google Play:</strong>
            <img class="google-play-img" src="../../../../assets/img/photos/google-play.png" alt="Google Play">
        </div>
        <div class="steps-container">
            <div class="steps-item">
                <div class="steps-counter">
                    <strong class="steps-number">1</strong>
                </div>
                <img class="steps-img" src="../../../../assets/img/photos/1.png" alt="Step 1">
                <span>Input Basic Contact Information</span>
            </div>
            <div class="steps-item">
                <div class="steps-counter">
                    <strong class="steps-number">2</strong>
                </div>
                <img class="steps-img" src="../../../../assets/img/photos/2.png" alt="Step 2">
                <span>Add New Order</span>
            </div>
            <div class="steps-item">
                <div class="steps-counter">
                    <strong class="steps-number">3</strong>
                </div>
                <img class="steps-img" src="../../../../assets/img/photos/3.png" alt="Step 3">
                <span>Pick Your Toppings and Add to Order List</span>
            </div>
            <div class="steps-item">
                <div class="steps-counter">
                    <strong class="steps-number">4</strong>
                </div>
                <img class="steps-img" src="../../../../assets/img/photos/4.png" alt="Step 4">
                <span>Add New Order or Check-out</span>
            </div>
            <div class="steps-item">
                <div class="steps-counter">
                    <strong class="steps-number">5</strong>
                </div>
                <img class="steps-img" src="../../../../assets/img/photos/5.png" alt="Step 5">
                <span>Send Order through Email or SMS</span>
            </div>
        </div>
    </div>
    <div class="food-provider-container">
        <div class="food-provider-header-container">
            <strong class="food-provider-header">Our Food Providers</strong>
            <div class="food-provider-separator"></div>
        </div>
        <div class="food-provider-item-container">
            <div class="food-provider-item">
                <img class="food-provider-img" src="../../../../assets/img/photos/food-provider-1.png"
                    alt="Combo Ni Ante">
                <button class="food-provider-button">Combo Ni Ante</button>
            </div>
            <div class="food-provider-item">
                <div class="food-provider-coming-soon"><strong>Additional Food Providers will be added soon.</strong>
                </div>
            </div>
        </div>
    </div>
</div>