<div class="home-container-wrapper">
    <div class="home-container">
        <div class="steps-to-order--container">
            <strong class="steps-text-header">Food Ordering in just a few easy steps:</strong>
            <div class="steps--container">
                <div class="steps-item">
                    <div class="steps-counter">
                        <strong class="steps-number">1</strong>
                    </div>
                    <img class="steps-img" src="../../../../assets/img/photos/1.png" alt="Step 1">
                    <span>Input Basic Contact Information</span>
                </div>
                <div class="steps-item">
                    <div class="steps-counter">
                        <strong class="steps-number">2</strong>
                    </div>
                    <img class="steps-img" src="../../../../assets/img/photos/2.png" alt="Step 2">
                    <span>Add New Order</span>
                </div>
                <div class="steps-item">
                    <div class="steps-counter">
                        <strong class="steps-number">3</strong>
                    </div>
                    <img class="steps-img" src="../../../../assets/img/photos/3.png" alt="Step 3">
                    <span>Pick Your Toppings and Add to Order List</span>
                </div>
                <div class="steps-item">
                    <div class="steps-counter">
                        <strong class="steps-number">4</strong>
                    </div>
                    <img class="steps-img" src="../../../../assets/img/photos/4.png" alt="Step 4">
                    <span>Add New Order or Check-out</span>
                </div>
                <div class="steps-item">
                    <div class="steps-counter">
                        <strong class="steps-number">5</strong>
                    </div>
                    <img class="steps-img" src="../../../../assets/img/photos/5.png" alt="Step 5">
                    <span>Send Order through Email or SMS</span>
                </div>
            </div>
        </div>
    </div>
</div>