<!--header Starts-->
<header>
    <div class="navigation-container">
        <div class="navigation-items">
            <img src="../../../assets/img/logos/RiceToppers_Logo_Black.png" alt="RiceToppers" (click)="_navigationService.navigateToHome()">
            <button (click)="_navigationService.navigateToHome()" class="navigation-text">HOME</button>
            <button (click)="_navigationService.navigateToAboutUs()" class="navigation-text">ABOUT US</button>
        </div>
        <div class="user-tab-container">
            <div *ngIf="!isLoggedIn" id="dropdown" class="sign-in-container">
                <div class="sign-in-sub-container">
                    <a class="sign-in-button"><strong>SIGN-IN</strong></a>
                    <button *ngIf="isSignInClick" class="fas fa-times-circle close-sign-in-button"></button>
                </div>
                <div class="dropdown-item--sign-up">
                    <label for="user-name">User Name:</label>
                    <input type="text" [(ngModel)]="username" keyboardType="email" name="user-name" id="user-name">
                </div>
                <div class="dropdown-item--sign-up">
                    <label for="user-password">Password:</label>
                    <input type="password" [(ngModel)]="password" name="user-password" id="user-password">
                </div>
                <div class="dropdown-item--sign-up">
                    <button class="button" (click)="onLogin()">Login</button>
                </div>
            </div>
            <div *ngIf="isLoggedIn" id="dropdown" class="greetings-container">
                <div class="greetings-sub-container">
                    <strong>Hi, {{name}}</strong>
                    <span (click)="showDropdown()" class="fas fa-angle-down angle-down"></span>
                </div>
                <a class="dropdown-item">
                    <div class="dropdown-bullet"></div>Account Details
                </a>
                <a class="dropdown-item">
                    <div class="dropdown-bullet"></div>View Order History
                </a>
                <a class="dropdown-item" (click)="onSignOut()">
                    <div class="dropdown-bullet"></div>Sign-out
                </a>
            </div>
        </div>
    </div>
</header>
<!--header Ends-->