.about-us-wrapper {
    display: grid;
    padding: 5% 15%;
}
.about-us-header-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.about-us-text {
    font-size: 30px;
    line-height: 35px;
}