<section id="reset-password">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse gradient-genesis-green bg-darken-3 px-4 py-3">
                    <div class="card-header">
                        <div class="card-image text-center">
                            <i class="icon-key font-large-5 blue-grey lighten-4"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="text-center">
                                <h4 class="text-uppercase text-bold-400 white">Reset Password</h4>
                            </div>
                            <form class="pt-4 ng-untouched ng-pristine ng-valid" novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
                                <div class="form-group">
                                    <input class="form-control ng-untouched ng-pristine ng-valid" id="inputEmail" name="inputEmail" placeholder="Email" type="email"
                                        ngModel required email>
                                </div>
                                <div class="form-group pt-2">
                                    <div class="text-center mt-3">
                                        <button type="submit" *ngIf="!isResetting" (click)="onSubmit()" [disabled]="!resetForm.valid" class="btn btn-pink btn-block btn-raised">Submit</button>
                                        <img src="assets/img/loaders/ellipse-loader.gif" style="height: 70px;" *ngIf="isResetting" />
                                        <button (click)="onCancel()" class="btn btn-secondary btn-raised btn-block" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>