<!--Footer Starts-->
<footer>
    <div class="footer-container">
        <div class="footer-wrapper"></div>
        <div class="footer-main">
            <div>
                <button><span class="fab fa-facebook-f"></span></button>
                <button><span class="fab fa-instagram"></span></button>
                <button><span class="fab fa-twitter"></span></button>
                <button><span class="fab fa-facebook-messenger"></span></button>
            </div>
            <div class="navigation-items">
                <button (click)="_navigation.navigateToHome()" class="navigation-text">HOME</button>
                <div class="vl"></div>
                <button (click)="_navigation.navigateToAboutUs()" class="navigation-text">ABOUT US</button>
                <div class="vl"></div>
                <button (click)="_navigation.navigateToContactUs()" class="navigation-text">CONTACT US</button>
            </div>
        </div>
        <div class="copyright text-center footer-copyright">
            <span>&copy; {{currentDate | date: 'yyyy'}} <a>RiceToppers</a></span>
        </div>
    </div>
</footer>
<!--Footer Ends-->