<!--Footer Starts-->
<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div>
                <button><span class="fab fa-facebook-f"></span></button>
                <button><span class="fab fa-instagram"></span></button>
                <button><span class="fab fa-twitter"></span></button>
                <button><span class="fab fa-facebook-messenger"></span></button>
                <!-- <i class="fab fa-facebook-f"></i> -->
            </div>
            <div class="navigation-items">
                    <a>HOME</a>
                    <div class="vl"></div>
                    <a>ABOUT US</a>
                    <div class="vl"></div>
                    <a>CONTACT</a>
            </div>
        </div>
        <div class="copyright text-center footer-copyright">
            <span>&copy; {{currentDate | date: 'yyyy'}} <a>RiceToppers</a></span>
        </div>
    </div>
</footer>
<!--Footer Ends-->